body{
    user-select: none;
    background-color: #171717;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

/* Main Content */

.maincontent{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
}

.maincontent .name h3{
    display: flexbox;
    margin-top: 100px;
    font-size: 30px;
    margin: 0%;
    color: whitesmoke;
    text-decoration: underline #006ee6 5px;
    
}
.maincontent .name h1{
    margin: 0%;
    display: flexbox;
    font-weight: 700;
    color: aliceblue;
    font-size: 70px;
}


/* Intro  */
.intro .simpletextintro{
    color: white;
}
.intro .simpletextintro button{
    border: none;
    background-color: #006ee6;
    color: white;
    margin: 2px;
    border-radius: 3px;

}



/* Options to choose btw */
.options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.opt{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    color: white;
}
.opt{
    cursor: pointer;

}
.opt::before{
   content: "";
   bottom: -3px;
   position: absolute;
   height: 2px;
   background-color: aqua;
   transition: width 0.35s ease-out;
}
.opt:hover::before{
    width: 100%;
}


/* Options to choose btw */
